body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000; /* Black background */
}

.button-container {
    text-align: center; /* Center align content */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000; /* Black background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Added transform transition */
    /* Additional styles for Google Pay button */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
    font-weight: bold; /* Optional: Adjust font weight */
    text-transform: uppercase; /* Optional: Uppercase text */
}

button:hover {
    background-color: #333333; /* Darker shade on hover */
    transform: scale(1.05); /* Scale animation on hover */
}
